<ion-content>
  <img src="../../assets/user.png" alt="" class="video">
  <div class="row">
    <img src="../../assets/images/green-back-arrow.svg" class="arrow_icon"  alt="" (click)="backHangout()">
    <div class="heading">
    <ion-icon name="star" color="success"></ion-icon>
    <ion-label class="white_text">2038 | {{userDetail.type}}</ion-label>
  </div>
  </div>
  <div class="description">
    <p><small>@{{userDetail.nick_name}} {{calculateAge(userDetail.date_of_birth)}} {{'videoDetail.years' | translate}}</small></p>
    <p><small>{{userDetail.jobs}}  C {{userDetail.rating}}/M</small></p>
    <p><small>{{userDetail.tags}}</small></p>
  </div>
  <div class="like-icons">
    <ion-icon name="heart" class="white_text"></ion-icon>
    <ion-label class="white_text">{{'videoDetail.years' | translate}}</ion-label>
    <ion-icon name="pin" class="white_text"></ion-icon>
    <ion-label class="white_text">{{'videoDetail.years' | translate}}</ion-label>
  </div>
</ion-content>