<ion-content>
  <img src="../../assets/user.png" alt="" class="video">
  <div class="row">
    <img src="../../assets/images/green-back-arrow.svg" class="arrow_icon" [routerLink]="['/tabs/letstalknow']" alt="">
    <div class="heading">
    <ion-icon name="star" color="success"></ion-icon>
    <ion-label class="white_text">2038 | Counselor</ion-label>
  </div>
  </div>
  <div class="description">
    <p><small>@Sayumi 23 Years</small></p>
    <p><small>Naillist  C 200/M</small></p>
    <p><small>#asian #love #tokyo #kis</small></p>
    <p><small>#domemore #chatok #friend</small></p>
    <p><small>#everybodychat #lineok</small></p>
  </div>
  <div class="like-icons">
    <ion-icon name="heart" class="white_text"></ion-icon>
    <ion-label class="white_text">HELLO</ion-label>
    <ion-icon name="pin" class="white_text"></ion-icon>
    <ion-label class="white_text">KEEP</ion-label>
  </div>
</ion-content>