<ion-content id="myContent">
  <div id="errorMsg"></div>

  <video id="partnerVideo" (click)="swapVideo('partnerVideo')" autoplay playsinline muted volume="0"
    [ngClass]="{'top-video': topVideoFrame == 'partnerVideo', 'main-video': topVideoFrame != 'partnerVideo'}">
  </video>
  <video id="myVideo" (click)="swapVideo('myVideo')" autoplay playsinline muted volume="0"
    [ngClass]="{'top-video': topVideoFrame == 'myVideo', 'main-video': topVideoFrame != 'myVideo'}">
  </video>
  <ion-row class="user_details">
    <ion-col class="ion-text-left column">
      <small class="white_text fs-11">{{chatUser.nick_name}}</small>
      <small class="white_text">TIME: 2:21</small>
    </ion-col>
    <ion-col class="ion-text-right column">
      <small class="white_text fs-11">{{chatUser.coins}} coins</small>
      <small class="white_text">BUY COINS</small>
    </ion-col>
  </ion-row>

  <ion-row class="end_call">
    <ion-col>
      <img src="../../assets/images/hide-icon.svg" alt="" (click)="changeBeautifyOption()">
    </ion-col>
    <ion-col class="ion-text-right">
      <img src="../../assets/images/end-call.svg" alt="" (click)="close()">
    </ion-col>
  </ion-row>

  <section class="with-chat-info chat-screen" style="overflow: scroll;" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <div class="conversation">
      <ul *ngFor="let chat of chats">
        <li *ngIf="chat.user == nickname">
          <div class="chat-details">
            <div class="chat-msg" *ngIf="chat.type== 'message'">
              <p class="ion-no-margin">{{chat.message}}</p>
            </div>
            <div class="chat-msg" *ngIf="chat.type== 'SendCoin'">
              <p>{{chat.message}} Coins</p>
            </div>
            <div class="chat-msg" *ngIf="chat.type == 'Image'">
              <img src="{{chat.message}}" height="100px" width="100px" (click)="openFile(chat.message)" alt="File">
            </div>
            <div class="chat-msg" *ngIf="chat.type == 'Audio'">
              <img src="../../assets/audio.jpg" height="100px" width="100px" (click)="openFile(chat.message)"
                alt="File">
            </div>
            <div class="chat-msg" *ngIf="chat.type== 'File'">
              <img src="../../assets/file.png" height="100px" width="100px" (click)="openFile(chat.message)" alt="File">
            </div>
            <div class="chat-msg" *ngIf="chat.type == 'Video'">
              <img src="../../assets/video.png" height="100px" width="100px" (click)="openFile(chat.message)"
                alt="File">
            </div>
          </div>
        </li>
        <li *ngIf="chat.user != nickname">
          <div class="white-chat-details">
            <div class="white-chat-msg" *ngIf="chat.type == 'message'  || chat.type == 'join'">
              <p class="ion-no-margin">{{chat.message}}</p>
            </div>

            <div class="white-chat-msg" *ngIf="chat.type== 'SendCoin'">
              <p>{{chat.message}} Coins</p>
            </div>
            <div class="white-chat-msg" *ngIf="chat.type == 'Image'">
              <img src="{{chat.message}}" height="100px" width="100px" (click)="openFile(chat.message)" alt="File">
            </div>
            <div class="white-chat-msg" *ngIf="chat.type == 'Audio'">
              <img src="../../assets/audio.jpg" height="100px" width="100px" (click)="openFile(chat.message)"
                alt="File">
            </div>
            <div class="white-chat-msg" *ngIf="chat.type== 'File'">
              <img src="../../assets/file.png" height="100px" width="100px" (click)="openFile(chat.message)" alt="File">
            </div>
            <div class="white-chat-msg" *ngIf="chat.type == 'Video'">
              <img src="../../assets/video.jpg" height="100px" width="100px" (click)="openFile(chat.message)"
                alt="File">
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="extra-service h-0">
      <div class="service-list h-0">
        <img src="images/gift-logo.png" alt="">
      </div>
      <div class="service-list h-0">
        <img src="images/gift-icon.svg" alt="">
      </div>
      <div class="service-list h-0">
        <img src="images/say-frnd.svg" alt="">
      </div>
    </div>
  </section>
  <div class="gift-icons" *ngIf="closeEye">
    <img src="../../assets/images/gift-logo.png" alt="">
    <img src="../../assets/images/gift-icon.svg" alt="">
    <img src="../../assets/images/say-frnd.svg" alt="">
  </div>

  <div class="gift-icons" *ngIf="!closeEye">
    <img src="../../assets/images/gift-logo.png" alt="">
    <img src="../../assets/images/gift-icon.svg" alt="">
    <img src="../../assets/images/say-frnd.svg" alt="">
  </div>

  <ion-row class="footer">
    <ion-col size="10" class="input_column">
      <ion-textarea type="text" placeholder="Type a Message" rows="2" [(ngModel)]="MessageData.message" name="message">
      </ion-textarea>
    </ion-col>
    <ion-col size="2" class="ion-text-right">
      <img src="../../assets/images/enter-icon.svg" alt="" class="send-icon" (click)="sendMessage(MessageData)">
    </ion-col>
  </ion-row>
</ion-content>