<ion-content class="ion-padding ion-text-center">
    <ion-row class="ion-padding-horizontal">
        <img src="../../../assets/images/tokmay-alert-icon.svg" alt="">
        <h2 class="grow">{{'warning.warningTitle' | translate}}</h2>
        <img src="../../../assets/images/tokmay-alert-icon.svg" alt="">
    </ion-row>
    <div class="width-220">
        <p class="grey_text"><small>{{'warning.warningContent1' | translate}} <br>
      {{'warning.warningContent2' | translate}}
      </small></p>
        <ion-row class="ion-justify-content-center">
            <ion-button class="red_button" (click)="start()">{{'warning.warningTitle' | translate}}</ion-button>
        </ion-row>
    </div>
</ion-content>