<ion-header class="ion-no-border">
  <ion-toolbar class="dark_toolbar">
    <div class="row">
      <ion-input type="text" (ionChange)='onSearch($event.target.value)'></ion-input>
      <!-- <ion-menu-toggle (click)="toggleMenu()"></ion-menu-toggle> -->
      <img src="../../assets/images/menu-icon.svg" alt="" (click)="toggleMenu()" menuToggle class="menu-icon">
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="searchModal" class="searchBox">
    <h3 class="grey_text">Popular tags</h3>
    <h6><small>#anyonehere</small></h6>
    <h6><small>#comeonebaby</small></h6>
    <h6><small>#lover</small></h6>
    <h6><small>#dancechat</small></h6>
    <h6><small>#sexyme</small></h6>
    <h6><small>#teenager</small></h6>
    <h6><small>#allnight</small></h6>
    <h6><small>#clubsoundchat</small></h6>
    <h6><small>#eurobeat</small></h6>
    <h6><small>#i-pop</small></h6>
    <h6><small>#nude</small></h6>
  </div>
  <div *ngIf="!searchModal">
    <div class="menu-modal ion-text-center mt-10" *ngIf="menuOpen">
      <ion-label class="ion-text-center grey_text">Sort</ion-label>
      <ion-row>
        <ion-col>
          <img src="../../assets/images/client-tokmay-icon.svg" alt="" class="sort-img">
        </ion-col>
        <ion-col>
          <img src="../../assets/images/gender-male-icon.svg" alt="" (click)='getUsers(search_term, "male")' class="sort-img">
        </ion-col>
        <ion-col>
          <img src="../../assets/images/gender-female-icon.svg" alt="" (click)='getUsers(search_term, "female")' class="sort-img">
        </ion-col>
        <ion-col>
          <img src="../../assets/images/counselor-tokmay-icon.svg" alt="" class="sort-img">
        </ion-col>
      </ion-row>
      <ion-row class="row-spacing mt-10">
        <ion-button class="green_border_button" (click)="close()">CLOSE</ion-button>
        <ion-button class="green_button" (click)="result()">RESULT</ion-button>
      </ion-row>
    </div>
    <div [ngClass]="menuOpen ? 'modal-bg' : 'slider'">
      <img src="../../assets/images/fiter-banner.svg" alt="" *ngIf="!menuOpen">
    </div>
    <div *ngFor="let user of user_list">
      <div class="row m-7">
        <img src="../../assets/images/red-pin.svg" *ngIf="user.asset == 'favorite_user'" alt="">
        <img src="../../assets/images/categories-1.svg" *ngIf="user.asset != 'favorite_user'" alt="">
        <div class="grow ion-text-center column">
          <ion-label class="fs-13 font-bold" *ngIf="user.asset == 'favorite_user'">Keep Users</ion-label>
          <ion-label class="fs-13 font-bold" *ngIf="user.asset != 'favorite_user'">{{user.asset}}</ion-label>
          <ion-label class="fs-11 grey_text">Now you keep this users</ion-label>
        </div>
        <div class="row" (click)="categoryDetail()">
          <ion-label class="fs-11 grey_text">{{user.data.length}}</ion-label>
          <ion-icon name="chevron-forward-sharp" class="grey_text"></ion-icon>
        </div>
      </div>
      <ion-row class="horizontal-scroll">
        <ion-col size="3.2" class="video-box" *ngFor="let userdetail of user.data" (click)="gotoProfile(userdetail)">
          <img src="{{s3Url}}{{userdetail.picture}}" alt="">
          <ion-label class="minute-rating">{{userdetail.gender}}/{{userdetail.rating}}</ion-label>
          <div class="name-age row">
            <p>{{userdetail.nick_name}}</p>
            <br/>
            <b> {{calculateAge(userdetail.date_of_birth)}} Age</b>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>