<ion-header class="navigation-header">
  <ion-toolbar class="dark_toolbar">
    <div class="row">
      <img src="../../assets/images/green-back-arrow.svg"  class="arrow_icon" [routerLink]="['/tabs/profile']" alt="">
      <ion-title>Settings</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" class="mt-5" (click)="blockList()">
    <ion-label class="grey_text">Block List</ion-label>
   <img src="../../assets/images/right-carrot.svg" alt="" class="arrow_icon">
  </ion-item>
  <ion-item-divider></ion-item-divider>
  <ion-item lines="none">
    <ion-label class="grey_text">Languages</ion-label>
   <img src="../../assets/images/right-carrot.svg" alt="" class="arrow_icon">
  </ion-item>
  <ion-item-divider></ion-item-divider>
  <ion-item lines="none">
    <ion-label class="grey_text">Terms of Service</ion-label>
   <img src="../../assets/images/right-carrot.svg" alt="" class="arrow_icon">
  </ion-item>
  <ion-item-divider></ion-item-divider>
  <ion-item lines="none">
    <ion-label class="grey_text">Bug Report</ion-label>
   <img src="../../assets/images/right-carrot.svg" alt="" class="arrow_icon">
  </ion-item>
  <ion-item-divider></ion-item-divider>
</ion-content>
