<ion-header class="navigation-header">
  <ion-toolbar>
    <div class="heading">
      <ion-button class="backbutton" [routerLink]="['/tabs/profile']">
        <ion-icon name="chevron-back-outline" class="menu-icon"></ion-icon>
      </ion-button>
      <ion-title>Setting</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="fields-info">
    <ion-label>Block List</ion-label>
    <ion-icon name="chevron-forward-outline" class="carrot-arrow"></ion-icon>
  </ion-item>
  <ion-item-divider></ion-item-divider>
  <ion-item class="fields-info">
    <ion-label>Languages</ion-label>
    <ion-icon name="chevron-forward-outline" class="carrot-arrow"></ion-icon>
  </ion-item>
  <ion-item-divider></ion-item-divider>
  <ion-item class="fields-info">
    <ion-label>Terms of Service</ion-label>
    <ion-icon name="chevron-forward-outline" class="carrot-arrow"></ion-icon>
  </ion-item>
  <ion-item-divider></ion-item-divider>
  <ion-item class="fields-info">
    <ion-label>Bug Report</ion-label>
    <ion-icon name="chevron-forward-outline" class="carrot-arrow"></ion-icon>
  </ion-item>
  <ion-item-divider></ion-item-divider>
</ion-content>