<ion-header class="ion-no-border">
  <ion-toolbar class="dark_toolbar">
    <div class="row">
      <img src="../../assets/images/back-button.svg" alt="" [routerLink]="['/tabs/message']">
      <ion-title class="m-0 grow" (click)="presentActionSheet()">{{chatUser.nick_name}}</ion-title>
      <div class="online-tag">
        <img src="../../assets/images/OnLine-OffLine.svg" alt="">
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <img src="../../assets/images/" alt="" class="background"> -->
  <!-- <div class="background ion-padding">
    <div class="sender-style">
      <ion-label class="fs-10 white_text">Read 10:25am</ion-label>
      <div class="sender">Hey! Are you available for a meeting at 2 30pm tomorrow?
        Or maybe today at 5:45pm?</div>
    </div>
    <br>
    <div class="receiver-style">
      <div class="row">
        <ion-avatar>
          <img src="../../assets/avatar_img.jpg" alt=""></ion-avatar>
        <div class="receiver">Today at 5:45pm wil be just fine!</div>
      </div>
      <ion-label class="fs-10 white_text">10:28am</ion-label>
    </div>
  </div> -->
  <div class="background ion-padding">
    <div class="chat-screen">
      <div class="conversation" *ngFor="let chat of chatmsgs">
        <ul>
          <li *ngIf="chat.user == nickname">
            <div class="chat-details">
              <div class="read">
                <!-- <p>{{'common.read' | translate}}</p> -->
                <p>{{chat.sendDate | date:'shortTime'}}</p>
              </div>
              <div class="chat-msg">
                <p>{{chat.message}}</p>
              </div>
            </div>
          </li>
          <li *ngIf="chat.user != nickname">
            <div class="white-chat-details">
              <div class="user-img">
                <img src="../../assets/avatar_img.jpg" alt="">
              </div>
              <div class="white-chat-msg">
                <p>{{chat.message}}</p>
              </div>
              <div class="read">
                <!-- <p>{{'common.read' | translate}}</p> -->
                <p>{{chat.sendDate | date:'shortTime'}}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
     <!-- <ion-list>
    <ion-item *ngFor="let chat of chats" no-lines>
      <div class="chat-status" text-center *ngIf="chat.type=='join'||chat.type=='exit';else message">
        <span class="chat-date">{{chat.sendDate | date:'short'}}</span>
        <span class="chat-content-center">{{chat.message}}</span>
      </div>
      <ng-template #message>
        <div class="chat-message" text-right *ngIf="chat.user == nickname">
          <div class="right-bubble">
            <span class="msg-name">Me</span>
            <span class="msg-date">{{chat.sendDate | date:'short'}}</span>
            <p text-wrap>{{chat.message}}</p>
          </div>
        </div>
        <div class="chat-message" text-left *ngIf="chat.user !== nickname">
          <div class="left-bubble">
            <span class="msg-name">{{chat.user}}</span>
            <span class="msg-date">{{chat.sendDate | date:'short'}}</span>
            <p text-wrap>{{chat.message}}</p>
          </div>
        </div>
      </ng-template>
    </ion-item>
  </ion-list> -->
  </div>
  <div *ngIf="fileOption" class="fileupload">
      <img src="../../assets/images/upload-icon.svg" alt="">
      <img src="../../assets/images/camera-upload.svg" alt="">
    </div>
    <ion-row class="bottom-icon">
      <ion-col size="1.5" (click)="openFileOption()">
        <img src="../../assets/images/media-cicon.svg" alt="">
    </ion-col>
    <ion-col size="1.5" (click)="openCoinModal()">
      <img src="../../assets/images/coins-icons.svg" alt="">
    </ion-col>
    <ion-col size="6" class="input_column">
      <ion-textarea type="text" placeholder="Aa" rows="2" [(ngModel)]="data.message" name="message"></ion-textarea>
      <img src="../../assets/images/enter-icon.svg" alt="" (click)="sendMessage()">
    </ion-col>
    <ion-col size="1.5" (click)="videoCall()">
    <img src="../../assets/images/video-camera.svg" alt="">
    </ion-col>
    <ion-col size="1.5">
    <img src="../../assets/images/mice-icon.svg" alt="">
    </ion-col>
  </ion-row>

  <div *ngIf="openModal" class="coin-box">
    <ion-icon name="close-outline" class="row back-arrow" (click)=closeCoinModal()></ion-icon>
    <ion-row>
      <ion-col class="column">
        <img src="../../assets/images/1.svg" alt="">
        <p><small>50 {{'common.coins' | translate}}</small></p>
      </ion-col>
      <ion-col class="column">
        <img src="../../assets/images/2.svg" alt="">
        <p><small>100 {{'common.coins' | translate}}</small></p>
      </ion-col>
      <ion-col class="column">
        <img src="../../assets/images/3.svg" alt="">
        <p><small>300 {{'common.coins' | translate}}</small></p>
      </ion-col>
      <ion-col class="column">
        <img src="../../assets/images/4.svg" alt="">
        <p><small>500 {{'common.coins' | translate}}</small></p>
      </ion-col>
    </ion-row>
    <ion-row class="coin-padding">
      <ion-col class="column">
        <img src="../../assets/images/5.svg" alt="">
        <p><small>1,000 {{'common.coins' | translate}}</small></p>
      </ion-col>
      <ion-col class="column">
        <img src="../../assets/images/6.svg" alt="">
        <p><small>3,000 {{'common.coins' | translate}}</small></p>
      </ion-col>
      <ion-col class="column">
        <img src="../../assets/images/7.svg" alt="">
        <p><small>5,000 {{'common.coins' | translate}}</small></p>
      </ion-col>
      <ion-col class="column">
        <img src="../../assets/images/8.svg" alt="">
        <p><small>10.000 {{'common.coins' | translate}}</small></p>
      </ion-col>
    </ion-row>
  </div>
</ion-content>