<ion-header class="ion-no-border">
  <ion-toolbar class="dark_toolbar">
    <div class="row">
      <img src="../../assets/images/back-button.svg" alt="" [routerLink]="['/tabs/message']">
      <ion-title class="m-0 grow" (click)="presentActionSheet()">{{chatUser.nick_name}}</ion-title>
      <div class="online-tag">
        <img src="../../assets/images/OnLine-OffLine.svg" *ngIf="userstatus != 'Offline'" alt="">
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background ion-padding" style="overflow: scroll; height: 100%;" #scrollMe
    [scrollTop]="scrollMe.scrollHeight">
    <div class="chat-screen">
      <div class="conversation" *ngFor="let chat of chats">
        <ul>
          <li *ngIf="chat.user == nickname">
            <div class="chat-details">
              <div class="read">
                <!-- <p>{{'common.read' | translate}}</p> -->
                <p>{{chat.sendDate | date:'shortTime'}}</p>
              </div>
              <div class="chat-msg" *ngIf="chat.type== 'message'">
                <p>{{chat.message}}</p>
              </div>
              <div class="chat-msg" *ngIf="chat.type== 'SendCoin'">
                <p>{{chat.message}} Coins</p>
              </div>
              <div class="chat-msg" *ngIf="chat.type == 'Image'">
                <img src="{{chat.message}}" height="100px" width="100px" (click)="openFile(chat.message)" alt="File">
              </div>
              <div class="chat-msg" *ngIf="chat.type == 'Audio'">
                <img src="../../assets/audio.jpg" height="100px" width="100px" (click)="openFile(chat.message)"
                  alt="File">
              </div>
              <div class="chat-msg" *ngIf="chat.type== 'File'">
                <img src="../../assets/file.png" height="100px" width="100px" (click)="openFile(chat.message)"
                  alt="File">
              </div>
              <div class="chat-msg" *ngIf="chat.type == 'Video'">
                <img src="../../assets/video.png" height="100px" width="100px" (click)="openFile(chat.message)"
                  alt="File">
              </div>
            </div>
          </li>
          <li *ngIf="chat.user != nickname">
            <div class="white-chat-details">
              <div class="user-img">
                <img src="{{s3Url}}{{chatUser.picture}}" class="user_profilepic" alt="">
              </div>
              <div class="white-chat-msg" *ngIf="chat.type == 'message'  || chat.type == 'join'">
                <p>{{chat.message}}</p>
              </div>

              <div class="white-chat-msg" *ngIf="chat.type== 'SendCoin'">
                <p>{{chat.message}} Coins</p>
              </div>
              <div class="white-chat-msg" *ngIf="chat.type == 'Image'">
                <img src="{{chat.message}}" height="100px" width="100px" (click)="openFile(chat.message)" alt="File">
              </div>
              <div class="white-chat-msg" *ngIf="chat.type == 'Audio'">
                <img src="../../assets/audio.jpg" height="100px" width="100px" (click)="openFile(chat.message)"
                  alt="File">
              </div>
              <div class="white-chat-msg" *ngIf="chat.type== 'File'">
                <img src="../../assets/file.png" height="100px" width="100px" (click)="openFile(chat.message)"
                  alt="File">
              </div>
              <div class="white-chat-msg" *ngIf="chat.type == 'Video'">
                <img src="../../assets/video.jpg" height="100px" width="100px" (click)="openFile(chat.message)"
                  alt="File">
              </div>
              <div class="read">
                <!-- <p>{{'common.read' | translate}}</p> -->
                <p>{{chat.sendDate | date:'shortTime'}}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="fileOption" class="fileupload">
    <img src="../../assets/images/upload-icon.svg" (click)="selectFile()" alt="">
    <img src="../../assets/images/camera-upload.svg" (click)="capturePhoto()" alt="">
  </div>
  <ion-row class="bottom-icon">
    <ion-col size="1.5" (click)="openFileOption()">
      <img src="../../assets/images/media-cicon.svg" alt="">
    </ion-col>
    <ion-col size="1.5" (click)="openCoinModal()">
      <img src="../../assets/images/coins-icons.svg" alt="">
    </ion-col>
    <ion-col size="6" class="input_column">
      <ion-textarea type="text" placeholder="Type a Message" rows="2" [(ngModel)]="MessageData.message" name="message">
      </ion-textarea>
      <img src="../../assets/images/enter-icon.svg" alt="" (click)="sendMessage(MessageData)">
    </ion-col>
    <ion-col size="1.5" (click)="videoCall()">
      <img src="../../assets/images/video-camera.svg" alt="">
    </ion-col>
    <ion-col size="1.5">
      <img src="../../assets/images/mice-icon.svg" (click)="recordAudio()" alt="">
    </ion-col>
  </ion-row>
  <!-- <ion-button (click)="videoCallBtn()" class="float_right">video call</ion-button> -->
  <div *ngIf="openModal" class="coin-box">
    <ion-icon name="close-outline" class="row back-arrow" (click)="closeCoinModal()"></ion-icon>
    <ion-row>
      <ion-col class="column">
        <img src="../../assets/images/1.svg" alt="" (click)="sendCoins(50)">
        <p><small>50 {{'common.coins' | translate}}</small></p>
      </ion-col>
      <ion-col class="column">
        <img src="../../assets/images/2.svg" alt="" (click)="sendCoins(100)">
        <p><small>100 {{'common.coins' | translate}}</small></p>
      </ion-col>
      <ion-col class="column">
        <img src="../../assets/images/3.svg" alt="" (click)="sendCoins(300)">
        <p><small>300 {{'common.coins' | translate}}</small></p>
      </ion-col>
      <ion-col class="column">
        <img src="../../assets/images/4.svg" alt="" (click)="sendCoins(500)">
        <p><small>500 {{'common.coins' | translate}}</small></p>
      </ion-col>
    </ion-row>
    <ion-row class="coin-padding">
      <ion-col class="column">
        <img src="../../assets/images/5.svg" alt="" (click)="sendCoins(1000)">
        <p><small>1,000 {{'common.coins' | translate}}</small></p>
      </ion-col>
      <ion-col class="column">
        <img src="../../assets/images/6.svg" alt="" (click)="sendCoins(3000)">
        <p><small>3,000 {{'common.coins' | translate}}</small></p>
      </ion-col>
      <ion-col class="column">
        <img src="../../assets/images/7.svg" alt="" (click)="sendCoins(5000)">
        <p><small>5,000 {{'common.coins' | translate}}</small></p>
      </ion-col>
      <ion-col class="column">
        <img src="../../assets/images/8.svg" alt="" (click)="sendCoins(10000)">
        <p><small>10.000 {{'common.coins' | translate}}</small></p>
      </ion-col>
    </ion-row>
  </div>
</ion-content>