<ion-content class="ion-padding ion-text-center">
  <div *ngIf="!wantToVideoChat">
    <ion-label class="grey_text">{{'videoNotice.notice' | translate}}</ion-label>
    <p class="grey_text"><small>Are you going to video chat with {{user.nick_name}}?
      If you want to video chat with {{user.nick_name}}, both user has
      to open same page.</small></p>

    <ion-button class="green_button" (click)="acceptNotice()">{{'common.ok' | translate}}</ion-button>
  </div>

  <div *ngIf="wantToVideoChat">
    <ion-label class="grey_text">{{'videoNotice.notice' | translate}}</ion-label>
    <p class="grey_text"><small>Are you going to video chat with {{user.nick_name}}?<br>
      {{user.nick_name}} sets a rate of {{user.rating}} coins per minute for video chatting with you.
        <br>
        {{'videoNotice.agree' | translate}}
      </small></p>
    <ion-label class="small-text">{{'videoNotice.videoChatNotice' | translate}}</ion-label>

    <ion-row class="row-spacing">
      <ion-button class="green_button" (click)="start()">{{'common.start' | translate}}</ion-button>
      <ion-button class="green_border_button" (click)="cancel()">{{'common.cancel' | translate}}</ion-button>
    </ion-row>
  </div>
</ion-content>