@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600&display=swap");
body {
  font-family: "Source Sans Pro", sans-serif;
  color: #636363;
  position: relative;
}

.dropbtn {
  background-color: #72CA2F;
  color: white;
  padding: 4px 16px;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  box-shadow: 3px 53px 11px -53px #00000096 inset;
  border: none;
  cursor: pointer;
  background-image: url("../images/white-arrow.svg");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: top 10px right 15px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #253447;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.blue-tag {
  background: #65b3fc;
}

.purple-tag {
  background-color: #DF59FB;
}

.header-main {
  background-color: #253447;
  padding: 20px 15px;
}
.header-main .header-area {
  display: flex;
  justify-content: space-between;
}
.header-main .header-area .header-search {
  width: 100%;
  margin-right: 8px;
}
.header-main .header-area .header-search input {
  border: 0.5px solid #253447;
  border-radius: 4px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
  width: 100%;
}
.header-main .header-area .header-search input:focus {
  outline-color: #25344747;
}
.header-main .close-menu a {
  position: relative;
}
.header-main .mega-menu {
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  border-top-right-radius: 0;
  margin-top: 30px;
  width: 100%;
  padding: 15px;
  transition: 0.2s;
  display: none;
}
.header-main .mega-menu .top-arrow {
  position: absolute;
  top: -21px;
  right: 0;
}
.header-main .mega-menu .heading h4 {
  text-align: center;
  margin-bottom: 0px;
  color: #636363;
}
.header-main .mega-menu .footer-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.header-main .mega-menu .footer-btn button {
  min-width: 121px;
  font-size: 14px;
  padding: 6.5px;
  line-height: 17px;
  margin-right: 24px;
}
.header-main .mega-menu .footer-btn button:last-child {
  margin-right: 0;
}
.header-main .mega-menu .footer-btn .close-btn {
  border-radius: 2px;
  background: #fff;
  border: 1px solid #72ca2f;
  color: #72CA2F;
}
.header-main .mega-menu .footer-btn .result-btn {
  color: #fff;
  border-radius: 2px;
  background: #72ca2f;
}
.header-main .mega-menu ul {
  list-style: none;
  display: flex;
  padding-left: 0;
  justify-content: center;
  margin: 10px 0;
}
.header-main .mega-menu ul li {
  display: inline-block;
  margin-right: 13px;
}
.header-main .mega-menu ul li:last-child {
  margin-right: 0 !important;
}
.header-main .mega-menu ul li a img {
  max-width: 64px;
}
@media only screen and (max-width: 370px) {
  .header-main .mega-menu ul li a img {
    max-width: 50px;
  }
}

.banner-img img {
  width: 100%;
}

.user-listing .heading {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-listing .heading .pin a {
  font-size: 26px;
  color: #636363;
  display: flex;
}
.user-listing .heading .total-pin {
  display: flex;
  align-items: center;
}
.user-listing .heading .total-pin h6 {
  margin: 0;
}
.user-listing .heading .pin-heading {
  text-align: center;
}
.user-listing .heading .pin-heading h5 {
  margin: 0;
  font-weight: bold;
  font-size: 13px;
}
.user-listing .heading .pin-heading p {
  font-weight: 200;
  margin: 0;
  font-size: 13px;
}
.user-listing .pin-user-slider .owl-stage-outer .owl-stage {
  padding-left: 0 !important;
}
.user-listing .pin-user-slider .owl-stage-outer .user-img {
  position: relative;
}
.user-listing .pin-user-slider .owl-stage-outer .user-details {
  position: absolute;
  bottom: 0;
  left: auto;
  right: auto;
  width: 100%;
  padding: 0 6px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0));
}
.user-listing .pin-user-slider .owl-stage-outer .user-details .tags {
  text-align: right;
}
.user-listing .pin-user-slider .owl-stage-outer .user-details .tags span {
  width: 32px;
  height: 13px;
  display: inline-block;
  color: #fff;
  line-height: 13px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}
.user-listing .pin-user-slider .owl-stage-outer .user-details .user-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-listing .pin-user-slider .owl-stage-outer .user-details .user-name .name {
  font-size: 10px;
  font-weight: bold;
}
.user-listing .pin-user-slider .owl-stage-outer .user-details .user-name .name p {
  margin: 0;
  color: #fff;
}
.user-listing .pin-user-slider .owl-stage-outer .user-details .user-name .age p {
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  color: #fff;
}
.user-listing .pin-user-slider .owl-stage-outer .user-details .user-name .age p span {
  font-size: 8px;
  margin-left: 3px;
  font-weight: 400;
}

.footer-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
  background: #FFF;
}
.footer-nav .navigation ul {
  padding: 16px 40px;
  list-style: none;
  display: flex;
  margin-bottom: 0;
  justify-content: space-between;
}

.listing-heading {
  display: flex;
  align-items: center;
}
.listing-heading .hash-icon {
  margin-right: 5px;
}

.user-img {
  position: relative;
}

.filter-user-listing {
  display: flex;
  flex-wrap: wrap;
}
.filter-user-listing .item {
  position: relative;
  width: calc(33.33% - 6px);
  margin-top: 8px;
  margin-right: 9px;
}
.filter-user-listing .item:nth-child(3n+0) {
  margin-right: 0;
}
.filter-user-listing .item .user-img img {
  width: 100%;
}
.filter-user-listing .item .user-details {
  position: absolute;
  bottom: 0;
  left: auto;
  right: auto;
  width: 100%;
  padding: 0 6px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0));
}
.filter-user-listing .item .user-details .tags {
  text-align: right;
}
.filter-user-listing .item .user-details .tags span {
  width: 32px;
  height: 13px;
  display: inline-block;
  color: #fff;
  line-height: 13px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}
.filter-user-listing .item .user-details .user-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-user-listing .item .user-details .user-name .name {
  font-size: 10px;
  font-weight: bold;
}
.filter-user-listing .item .user-details .user-name .name p {
  margin: 0;
  color: #fff;
}
.filter-user-listing .item .user-details .user-name .age p {
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  color: #fff;
}
.filter-user-listing .item .user-details .user-name .age p span {
  font-size: 8px;
  margin-left: 3px;
  font-weight: 400;
}

.footer-filter-listing {
  position: relative;
}