<ion-header class="navigation-header">
  <ion-toolbar class="dark_toolbar">
    <div class="row">
      <ion-title>{{'setting.deleteAccount' | translate}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center mt-20per" *ngIf="!deleteComplete">
    <p class="grey_text"><small>{{'deleteAccount.wantToDelete' | translate}} </small></p>
    <p class="grey_text"><small>{{'deleteAccount.neverExchangeText' | translate}}</small></p>
    <p class="grey_text"><small>{{'deleteAccount.dataDeleteText' | translate}}</small></p>
    <ion-row class="button-spacing">
      <ion-button class="red_button" (click)="delete()">Delete</ion-button>
      <ion-button class="green_border_button" [routerLink]="['/setting']">Cancel</ion-button>
    </ion-row>
  </div>
  <div *ngIf="deleteComplete" class="ion-text-center mt-20per column align-center">
    <ion-label class="fs-25 grey_text">{{'deleteAccount.wantToDelete' | translate}}</ion-label>
    <img src="../../assets/logo.svg" alt="" class="logo">
  </div>
</ion-content>