<ion-content>
  <div class="ion-text-center mt-20per">
    <ion-label class="fs-22 grey_text">Verify your mobile number</ion-label>
    <div class="fs-11 grey_text m-30">Tokmay App will send SMS message to verify your <br> Phone Number, Enter your country code and <br> phone number.</div>
    <div class="select_box" (click)="selectOption()">
      <ion-label class="grow no_wrap">{{selectedCountry}}</ion-label>
      <img src="../../assets/right-arrow.svg" alt="">
    </div>
    <ion-row>
      <ion-col size="3">
        <ion-input  [(ngModel)]="countrycode"></ion-input>
      </ion-col>
      <ion-col size="9" class="pl-10">
        <ion-input type="tel" minLength="8" maxLength="14" [(ngModel)]="phonenumber"></ion-input>
      </ion-col>
    </ion-row>
    <ion-button class="green_button" (click)="next()">NEXT</ion-button>
    <!-- <ion-list *ngIf="selectBoxOpen">
      <ion-item *ngFor="let item of countries" class="ion-text-center" lines="none">
        <ion-label>{{item}}</ion-label>
      </ion-item>
    </ion-list> -->
  </div>
</ion-content>
