<ion-content>
  <div class="ion-text-center mt-20per">
    <ion-label class="fs-22 grey_text">Verify your mobile number</ion-label>
    <div class="fs-11 grey_text m-30">Tokmay App will send SMS message to verify your <br> Phone Number, Enter your country code and <br> phone number.</div>
    <div class="select_box" (click)="selectOption()">
      <ion-label class="grow no_wrap">{{selectedCountry}}</ion-label>
      <img src="../../assets/right-arrow.svg" alt="">
    </div>
    <!-- <div class="select_option" *ngIf="selectOpen">
				<p value="US" (click)="optionSelected('United States')">United States</p>
				<p value="UM" (click)="optionSelected('United States Minor Outlying Islands')">United States Minor Outlying Islands</p>
				<p value="UY" (click)="optionSelected('Uruguay')">Uruguay</p>
				<p value="UZ" (click)="optionSelected('Uzbekistan')">Uzbekistan</p>
				<p value="VU" (click)="optionSelected('Vanuatu')">Vanuatu</p>
				<p value="VE" (click)="optionSelected('Venezuela, Bolivarian Republic of')">Venezuela, Bolivarian Republic of</p>
				<p value="VN" (click)="optionSelected('Viet Nam')">Viet Nam</p>
				<p value="VG" (click)="optionSelected('Virgin Islands, British')">Virgin Islands, British</p>
				<p value="VI" (click)="optionSelected('Virgin Islands, U.S.')">Virgin Islands, U.S.</p>
				<p value="WF" (click)="optionSelected('Wallis and Futuna')">Wallis and Futuna</p>
				<p value="EH" (click)="optionSelected('Western Sahara')">Western Sahara</p>
				<p value="YE" (click)="optionSelected('Yemen')">Yemen</p>
				<p value="ZM" (click)="optionSelected('Zambia')">Zambia</p>
				<p value="ZW" (click)="optionSelected('Zimbabwe')">Zimbabwe</p>
    </div> -->
    <ion-row>
      <ion-col size="3">
        <ion-input></ion-input>
      </ion-col>
      <ion-col size="9" class="pl-10">
        <ion-input></ion-input>
      </ion-col>
    </ion-row>
    <ion-button class="green_button" (click)="next()">NEXT</ion-button>
    <!-- <ion-list *ngIf="selectBoxOpen">
      <ion-item *ngFor="let item of countries" class="ion-text-center" lines="none">
        <ion-label>{{item}}</ion-label>
      </ion-item>
    </ion-list> -->
  </div>
</ion-content>
