ion-row {
    width: 89%;
    margin: 10px auto 55px;
}
.no_wrap {
    white-space: nowrap;
    overflow: hidden;
}
.scroll-content {
    display: flex;
    flex-direction: column;
}
.text-margin{
    margin: 5% 15%;
    letter-spacing: 0.8px;
    line-height: 14px;
}
.scroll-content ion-list {
    margin-top: auto;
    margin-bottom: 0;
}
ion-input {
    border: 1px solid #72CA2F;
    height: 36px !important;
}
ion-list {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    height: 300px;
    overflow: scroll;

    ion-item {
        height: 35px;
        ion-label {
            color: #bbb;
        }
    }
}
