<ion-header class="ion-no-border">
  <ion-toolbar class="dark_toolbar">
    <ion-title class="m-0">{{'common.message' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="sort_popular row ion-text-center" (click)="selectOption()">
    <ion-label class="white_text grow ml-25">{{sortOption}}</ion-label>
    <img src="../../assets/images/white-arrow.svg" alt="" class="arrow_icon">
  </ion-row>

  <div class="sort_option" *ngIf="openSelectOption">
    <p class="white_text" (click)="optionSelected('Latest')"><small>{{'common.latest' | translate}}</small></p>
    <p class="white_text ion-no-margin" (click)="optionSelected('Low to High')">
      <small>{{'common.lowToHigh' | translate}}</small>
    </p>
    <p class="white_text" (click)="optionSelected('High to Low')"><small>{{'common.latest' | translate}}</small></p>
  </div>

  <ion-row class="tabs">
    <ion-button fill="clear" [ngClass]="activeTab=='Know' ? 'active_tab' : 'tab'" (click)="selectTab('Know')">
      {{'message.know' | translate}}
    </ion-button>
    <ion-button fill="clear" [ngClass]="activeTab=='Friend' ? 'active_tab' : 'tab'" (click)="selectTab('Friend')">
      {{'message.friend' | translate}}
    </ion-button>
    <ion-button fill="clear" [ngClass]="activeTab=='Favorite' ? 'active_tab' : 'tab'" (click)="selectTab('Favorite')">
      {{'message.favorite' | translate}}
    </ion-button>
  </ion-row>

  <ion-list>
    <ion-row (click)="openChatWindow(room.data)" *ngFor="let room of rooms">
      <ion-col size="2" class="p0">
        <img src="{{s3Url}}{{room.data.receiver.nick_name == loginUser.nick_name ? room.data.sender.picture : room.data.receiver.picture }}" class="user_profilepic" alt="">
      </ion-col>
      <ion-col col="5.5">
        <h5 class="ion-no-margin">{{room.data.receiver.nick_name == loginUser.nick_name ? room.data.sender.nick_name : room.data.receiver.nick_name }}</h5>
        <p class="grey_text ion-no-margin"><small>Nice to meet you!</small></p>
        
      </ion-col>
      <ion-col size="2.5" class="p0">
        <p class="grey_text ion-text-right"><small>2019/02/11</small></p>
      </ion-col>
      <ion-col size="2" class="p0">
        <img src="../../assets/images/coinafter.svg" alt="" class="margin-min">
        <p class="p-margin"><small> 999</small></p>
      </ion-col>
    </ion-row>
    <ion-item-divider></ion-item-divider>

    <!-- <ion-row [routerLink]="['/chat-window']">
      <ion-col size="2" class="p0">
        <img src="../../assets/avatar_img.jpg" alt="">
      </ion-col>
      <ion-col col="5.5">
        <p class="grey_text ion-no-margin"><small>Annie Hall</small></p>
        <h5 class="ion-no-margin">Nice to meet you!</h5>
      </ion-col>
      <ion-col size="2.5" class="p0">
        <p class="grey_text ion-text-right"><small>2019/02/11</small></p>
      </ion-col>
      <ion-col size="2" class="p0">
        <img src="../../assets/images/coinafter.svg" alt="" class="margin-min">
        <p class="p-margin"><small> 999</small></p>
      </ion-col>
    </ion-row>
    <ion-item-divider></ion-item-divider>

    <ion-row [routerLink]="['/chat-window']">
      <ion-col size="2" class="p0">
        <img src="../../assets/avatar_img.jpg" alt="">
      </ion-col>
      <ion-col col="5.5">
        <p class="grey_text ion-no-margin"><small>Annie Hall</small></p>
        <h5 class="ion-no-margin">Nice to meet you!</h5>
      </ion-col>
      <ion-col size="2.5" class="p0">
        <p class="grey_text ion-text-right"><small>2019/02/11</small></p>
      </ion-col>
      <ion-col size="2" class="p0">
        <img src="../../assets/images/coinafter.svg" alt="" class="margin-min">
        <p class="p-margin"><small> 999</small></p>
      </ion-col>
    </ion-row>
    <ion-item-divider></ion-item-divider>

    <ion-row [routerLink]="['/chat-window']">
      <ion-col size="2" class="p0">
        <img src="../../assets/avatar_img.jpg" alt="">
      </ion-col>
      <ion-col col="5.5">
        <p class="grey_text ion-no-margin"><small>Annie Hall</small></p>
        <h5 class="ion-no-margin">Nice to meet you!</h5>
      </ion-col>
      <ion-col size="2.5" class="p0">
        <p class="grey_text ion-text-right"><small>2019/02/11</small></p>
      </ion-col>
      <ion-col size="2" class="p0">
        <img src="../../assets/images/coinafter.svg" alt="" class="margin-min">
        <p class="p-margin"><small> 999</small></p>
      </ion-col>
    </ion-row>
    <ion-item-divider></ion-item-divider> -->

    <!-- <ion-row>
      <ion-col>Signin</ion-col>
      <ion-col>
        <ion-input type="text" [(ngModel)]="data.nickname" name="nickname" required=""></ion-input>
      </ion-col>
    </ion-row>
    <ion-button (click)="enterNickname()">Add name</ion-button>
    <ion-row>
      <ion-col>Add New User</ion-col>
      <ion-col>
        <ion-icon name="add-circle-outline" class="add-icon" (click)="addNewChat()"></ion-icon>
      </ion-col>
    </ion-row>
    <div *ngIf="addNewUser">
      <ion-input type="text" [(ngModel)]="data.roomname" name="roomname" required=""></ion-input>
      <ion-button (click)="addName()">Add name</ion-button>
    </div> -->
  </ion-list>
</ion-content>