<ion-header class="ion-no-border">
  <ion-toolbar class="dark_toolbar">
    <ion-title class="m-0">{{'common.message' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="sort_popular row ion-text-center" (click)="selectOption()">
    <ion-label class="white_text grow ml-25">{{sortOption}}</ion-label>
    <img src="../../assets/images/white-arrow.svg" alt="" class="arrow_icon">
  </ion-row>

  <div class="sort_option" *ngIf="openSelectOption">
    <p class="white_text" (click)="optionSelected('Latest',rooms,'created_at')"><small>{{'common.latest' |
        translate}}</small></p>
    <p class="white_text ion-no-margin" (click)="sortByLowtoHigh('Low to High',rooms)">
      <small>{{'common.lowToHigh' | translate}}</small>
    </p>
    <p class="white_text" (click)="sortByHightoLow('High to Low',rooms)"><small>{{'common.highToLow' | translate}}</small></p>
  </div>

  <ion-row class="tabs">
    <ion-button fill="clear" [ngClass]="activeTab=='know' ? 'active_tab' : 'tab'" (click)="selectTab(roomlist,'know')">
      {{'message.know' | translate}}
    </ion-button>
    <ion-button fill="clear" [ngClass]="activeTab=='friend' ? 'active_tab' : 'tab'"
      (click)="selectTab(roomlist,'friend')">
      {{'message.friend' | translate}}
    </ion-button>
    <ion-button fill="clear" [ngClass]="activeTab=='favorite' ? 'active_tab' : 'tab'"
      (click)="selectTab(roomlist,'favorite')">
      {{'message.favorite' | translate}}
    </ion-button>
  </ion-row>

  <ion-list>
    <ion-row (click)="openChatWindow(room)" *ngFor="let room of rooms">
      <ion-col size="2" class="p0">
        <img src="{{s3Url}}{{room.chatuserdata.picture}}" class="user_profilepic" alt="">
      </ion-col>
      <ion-col col="5.5">
        <h5 class="ion-no-margin">{{room.chatuserdata.nick_name}}</h5>
        <!-- <p class="grey_text ion-no-margin"><small>Nice to meet you!</small></p> -->
      </ion-col>
      <ion-col size="2.5" class="p0">
        <p class="grey_text ion-text-right"><small>{{room.created_at | date : longdate}}</small></p>
      </ion-col>
      <ion-col size="2" class="p0">
        <img src="../../assets/images/coinafter.svg" alt="" class="margin-min">
        <p class="p-margin"><small> {{room.chatuserdata.coins}}</small></p>
      </ion-col>
    </ion-row>
    <ion-item-divider></ion-item-divider>
  </ion-list>
</ion-content>