<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="row">
      <ion-button class="backbutton" [routerLink]="['/tabs/profile']">
        <ion-icon name="chevron-back-outline" class="menu-icon"></ion-icon>
      </ion-button>
      <ion-title>Purchase Coins</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-list-header>
      Holding Coins
      <img src="../../assets/icon/coins-icon.png" class="coin_img"/>
      0
    </ion-list-header>
    <ion-item class="border_none">
      <small>This coins can be available to use for only for <b>TokMay app</b></small>
    </ion-item>
    <ion-item class="border_none">
      <ion-thumbnail slot="start">
        <ion-img src="../../assets/icon/coins-icon.png" class="coin_img"></ion-img>
      </ion-thumbnail>
      <ion-label class="margin-left">109 coins </ion-label>
      <ion-button class="greenbutton m-30">
        <h2>$ 120</h2>
      </ion-button>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item class="border_none">
      <ion-thumbnail slot="start">
        <ion-img src="../../assets/icon/coins-icon.png" class="coin_img"></ion-img>
      </ion-thumbnail>
      <ion-label class="margin-left">655 coins </ion-label>
      <ion-button class="greenbutton m-30">
        <h2>$ 720</h2>
      </ion-button>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item class="border_none">
      <ion-thumbnail slot="start">
        <ion-img src="../../assets/icon/coins-icon.png" class="coin_img"></ion-img>
      </ion-thumbnail>
      <ion-label class="margin-left">1,455 coins </ion-label>
      <ion-button class="greenbutton m-30">
        <h2>$ 1,600</h2>
      </ion-button>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item class="border_none">
      <ion-thumbnail slot="start">
        <ion-img src="../../assets/icon/coins-icon.png" class="coin_img"></ion-img>
      </ion-thumbnail>
      <ion-label class="margin-left">3,364 coins </ion-label>
      <ion-button class="greenbutton m-30">
        <h2>$ 3,700</h2>
      </ion-button>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item class="border_none">
      <ion-thumbnail slot="start">
        <ion-img src="../../assets/icon/coins-icon.png" class="coin_img"></ion-img>
      </ion-thumbnail>
      <ion-label class="margin-left">6,182 coins </ion-label>
      <ion-button class="greenbutton m-30">
        <h2>$ 6,800</h2>
      </ion-button>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item class="border_none">
      <ion-thumbnail slot="start">
        <ion-img src="../../assets/icon/coins-icon.png" class="coin_img"></ion-img>
      </ion-thumbnail>
      <ion-label class="margin-left">10,364 coins </ion-label>
      <ion-button class="greenbutton m-30">
        <h2>$ 11,400</h2>
      </ion-button>
    </ion-item>
    <ion-item-divider></ion-item-divider>
  </ion-list>
  <ion-row>
    <ion-item class="border_none width">
      <ion-note color="dark">Coins are tied to phone numbers<br/>
        <small>(Coin can not be handed over by changing telephone number)</small>
      </ion-note>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item class="border_none width">
      <ion-label color="success">Act on Specified Commercial Transactions
      </ion-label>
    </ion-item>
  </ion-row>
</ion-content>