<ion-header class="ion-no-border">
  <ion-toolbar class="dark_toolbar">
    <div class="row">
      <ion-title>Profile Info</ion-title>
      <ion-icon [routerLink]="['/setting']" name="settings-outline" class="menu-icon"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="slider">
    <ion-row class="profile_item_margin">
      <ion-avatar class="p-relative">
        <img src="{{s3Url}}{{userDetail.picture}}" alt="">
        <!-- <ion-input type="file" accept="image/*" class="browse_btn" (change)="changeListener($event)"></ion-input> -->
        <img src="../../assets/images/camera.svg" class="camera_icon" alt="" (click)="startVedio()">
        <!-- <ion-icon name="camera" class="camera_icon"></ion-icon> -->
      </ion-avatar>
    </ion-row>
    <ion-row class="profile_item_margin ion-text-center">
      <div>
        <img src="../../assets/images/counselor-tokmay-icon.svg" alt="" class="tab-img">
      </div>
      <div class="ion-margin-horizontal">
        <ion-label class="white_text">{{userDetail.type}}</ion-label>
        <p class="white_text ion-no-margin"><small>(As you can receive coins)</small></p>
      </div>
      <div>
        <img src="../../assets/images/reset-icon.svg" alt="" (click)="changeType()" class="tab-img">
      </div>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-list class="profile_item_margin">
        <p class="ion-no-margin ion-text-center grey_text"><small> Currently Coins </small></p>
        <ion-item class="fullborder">
          <ion-thumbnail slot="end" class="coinimg">
            <img src="../../assets/logo.svg" alt="">
          </ion-thumbnail>
          <ion-label></ion-label>
        </ion-item>
      </ion-list>
    </ion-row>
    <ion-row class="buttons">
      <ion-button class="grey_button" [routerLink]="['/buycoins']">BUY COINS</ion-button>
      <ion-button class="grey_button" [routerLink]="['/exchangecoins']">EXCHANGE</ion-button>
    </ion-row>
  </ion-grid>
  <form [formGroup]="registerForm">
    <ion-grid class="ion-no-padding">
      <div class="border_div"></div>
      <ion-item class="item_margin">
        <ion-label class="grey_text" position="stacked">Nickname</ion-label>
        <ion-input placeholder="Nickname" formControlName="nick_name"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.nick_name.errors?.required">
        Nick Name is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.nick_name.errors?.minlength">
        Name should be min 5 chars long.
      </span>
      <ion-item class="item_margin">
        <ion-label class="grey_text" position="stacked">Job</ion-label>
        <ion-input placeholder="Job" formControlName="jobs"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.jobs.errors?.required">
        Job is required.
      </span>
      <ion-item class="item_margin">
        <ion-label class="grey_text" position="stacked">Minute Rating</ion-label>
        <ion-input type="tel" placeholder="Minute Rating" max=400 formControlName="rating"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.rating.errors?.required">
        Minute Rating is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.rating.errors?.pattern">
        Only Numeric Value is allowed.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.rating.errors?.max">
        Set your rate below 400
      </span>
    </ion-grid>
    <ion-grid class="ion-no-padding">
      <div class="border_div"></div>
      <ion-item class="item_margin">
        <ion-label class="grey_text" position="stacked">Appeal tags</ion-label>
        <ion-textarea placeholder="Tag text here" formControlName="tags" rows="3">
        </ion-textarea>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.tags.errors?.required">
        tags is required.
      </span>
      <div class="border_div"></div>
      <div class="ion-margin">
        <ion-label class="fs-11 grey_text float_left">Recommended to add many tags that you related</ion-label><br>
        <ion-button type="submit" class="green_button m-30" (click)="next()">UPDATE</ion-button>
      </div>
    </ion-grid>
  </form>
</ion-content>