<ion-header class="ion-no-border">
  <ion-toolbar class="dark_toolbar">
    <div class="row">
      <ion-title>{{'profile.profileInfo' | translate}}</ion-title>
      <ion-icon [routerLink]="['/setting']" name="settings-outline" class="menu-icon"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="slider">
    <ion-row class="profile_item_margin">
      <ion-avatar class="p-relative">
        <video  id="myVideo" class="video-profile" (click)="playVideo()" preload="auto" autoplay="autoplay" [muted]="'muted'" loop>
          <source src="{{s3Url}}{{userDetail.video}}" type="video/mp4" />
          <source src="{{s3Url}}{{userDetail.video}}" type="video/3gpp" />
        </video>
        <!-- <ion-input type="file" accept="image/*" class="browse_btn" (change)="changeListener($event)"></ion-input> -->
        <img src="../../assets/images/camera.svg" class="camera_icon" alt="" (click)="startVedio()">
        <!-- <ion-icon name="camera" class="camera_icon"></ion-icon> -->
      </ion-avatar>
    </ion-row>
    <ion-row class="profile_item_margin ion-text-center">
      <div>
        <img src="../../assets/images/counselor-tokmay-icon.svg" *ngIf="userDetail.type == counselor" alt=""
          class="tab-img">
        <img src="../../assets/images/client-tokmay-icon.svg" *ngIf="userDetail.type == user" class="tab-img">
      </div>
      <div class="ion-margin-horizontal">
        <ion-label class="white_text">{{userDetail.type}}</ion-label>
        <p class="white_text ion-no-margin"><small>{{'profile.receiveCoins' | translate}}</small></p>
      </div>
      <div>
        <img src="../../assets/images/reset-icon.svg" alt="" (click)="changeType()" class="tab-img">
      </div>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-list class="profile_item_margin">
        <p class="ion-no-margin ion-text-center grey_text"><small> {{'profile.currentlyCoins' | translate}} </small></p>
        <ion-item class="fullborder">
          {{userDetail.coins}}
          <ion-thumbnail slot="end" class="coinimg">
            <img src="../../assets/logo.svg" alt="">
          </ion-thumbnail>
          <ion-label></ion-label>
        </ion-item>
      </ion-list>
    </ion-row>
    <ion-row class="buttons">
      <ion-button class="grey_button" [routerLink]="['/buycoins']">{{'profile.buycoins' | translate}}</ion-button>
      <ion-button class="grey_button" [routerLink]="['/exchangecoins']">{{'profile.exchange' | translate}}</ion-button>
    </ion-row>
  </ion-grid>
  <form [formGroup]="registerForm">
    <ion-grid class="ion-no-padding">
      <div class="border_div"></div>
      <ion-item class="item_margin">
        <ion-label class="grey_text" position="stacked">{{'common.nickname' | translate}}</ion-label>
        <ion-input placeholder="Nickname" formControlName="nick_name"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.nick_name.errors?.required">
        {{'common.nicknameRequired' | translate}}
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.nick_name.errors?.minlength">
        {{'common.nameLength' | translate}}
      </span>
      <ion-item class="item_margin">
        <ion-label class="grey_text" position="stacked">{{'common.job' | translate}}</ion-label>
        <ion-input placeholder="Job" formControlName="jobs"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.jobs.errors?.required">
        {{'common.jobRequired' | translate}}
      </span>
      <ion-item class="item_margin">
        <ion-label class="grey_text" position="stacked">{{'common.minuteRating' | translate}}</ion-label>
        <ion-input type="tel" placeholder="Minute Rating" max=400 formControlName="rating"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.rating.errors?.required">
        {{'common.minuteRatingRequired' | translate}}
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.rating.errors?.pattern">
        {{'common.onlyNumeric' | translate}}
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.rating.errors?.max">
        {{'common.maxRate' | translate}}
      </span>
    </ion-grid>
    <ion-grid class="ion-no-padding">
      <div class="border_div"></div>
      <ion-item class="item_margin">
        <ion-label class="grey_text" position="stacked">{{'common.appealTag' | translate}}</ion-label>
        <ion-select multiple="true" formControlName="tags" cancelText="Nah" okText="Okay!">
          <ion-select-option *ngFor="let tag of tagList" value="{{tag.tag}}">{{tag.tag}}</ion-select-option>
        </ion-select>
        <!-- <ion-textarea placeholder="Tag text here" formControlName="tags" rows="3">
        </ion-textarea> -->
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.tags.errors?.required">
        {{'common.tagRequired' | translate}}
      </span>
      <div class="border_div"></div>
      <div class="ion-margin">
        <ion-label class="fs-11 grey_text float_left">Recommended to add many tags that you related</ion-label><br>
        <ion-row class="ion-justify-content-center">
          <ion-button type="submit" class="green_button m-30" (click)="next()">UPDATE</ion-button>
          <ion-button type="submit" class="green_button m-30" (click)="logout()">LOGOUT</ion-button>
        </ion-row>
      </div>
    </ion-grid>
  </form>
</ion-content>