ion-toolbar {
    --background: #253447;
    padding: 16px !important;
}
ion-title {
    text-align: center;
    flex-grow: 1;
    margin-right: 30px;
}
.arrow_icon {
    background: white;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    font-size: 25px;
}
ion-button {
    width: 90px;
    margin-top: 10%;
}
ion-textarea {
    box-shadow: 0 0 6px 2px #72CA2F;
    border-radius: 5px;
}
ion-input {
    box-shadow: 1px 1px 6px 1px #72CA2F;
    border-radius: 5px;
}
.green_button {
    position: absolute;
    left: 0;
    right: 0;
    margin: 10% auto;
}
