<ion-header class="navigation-header">
  <ion-toolbar class="dark_toolbar">
    <div class="row">
      <img src="../../assets/images/green-back-arrow.svg" class="arrow_icon" [routerLink]="['/setting']" alt="">
      <ion-title>{{'setting.blockList' | translate}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="ion-text-center mt-10">
    <ion-label class="green_text font-bold">{{'blockList.noUsers' | translate}}</ion-label><br>
    <ion-item-divider></ion-item-divider>
  </div>
</ion-content>
