<ion-content>
  <div class="ion-text-center mt-20per">
    <ion-label class="fs-25 green_text">{{'common.registration' | translate}}</ion-label>
    <ion-item-divider></ion-item-divider>
    <div class="fs-11 grey_text content-margin">{{'selectPosition.content1' | translate}}</div><br>
    <div class="fs-11 grey_text content-margin">{{'selectPosition.content2' | translate}}</div><br>
    <div class="fs-11 grey_text content-margin">{{'selectPosition.content3' | translate}}</div><br><br>

    <ion-label class="fs-25 green_text mt-10"></ion-label>


    <ion-row class="ion-padding row" (click)="positionSelected('user')">
      <ion-col size="5" class="ion-no-padding">
        <img src="../../assets/images/tokmay-client.svg" alt="" class="position_logo">
      </ion-col>
      <ion-col size="7" class="ion-no-padding">
        <div class="column">
          <ion-label class="fs-25 blue_text">{{'common.client' | translate}}</ion-label>
          <ion-label class="fs-11 grey_text">{{'selectPosition.haveTrouble' | translate}}</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-label class="fs-25 grey_text">Or</ion-label>
    <ion-row class="ion-padding row" (click)="positionSelected('counselor')">
      <ion-col size="5" class="ion-no-padding">
        <img src="../../assets/images/tokmay-counsler.svg" alt="" class="position_logo">
      </ion-col>
      <ion-col size="7" class="ion-no-padding">
        <div class="column">
          <ion-label class="fs-25 pink_text">{{'common.counselor' | translate}}</ion-label>
          <ion-label class="fs-11 grey_text">{{'selectPosition.resolveTrouble' | translate}}</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>