/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-header,
ion-content {
    font-family: "Source Sans Pro", sans-serif;
    // color: #636363;
}
ion-toolbar.dark_toolbar {
    --background: #253447;
    padding: 16px !important;
}
ion-title {
    text-align: center;
    flex-grow: 1;
    margin-right: 30px !important;
}
.logo {
    height: 200px;
    width: 200px;
    margin: 60px auto 20px;
}
ion-title {
    color: white;
    font-size: 22px;
}
.pl-10 {
    padding-left: 10px;
}
.m-0 {
    margin: 0 !important;
}
.m-auto {
    margin: auto !important;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-10per {
    margin-top: 10%;
}
.mt-20per {
    margin-top: 20% !important;
}
.m-30 {
    margin: 30px;
}
.font-bold {
    font-weight: bold;
}
.fs-11 {
    font-size: 11px;
}
.fs-12 {
    font-size: 12px !important;
}
.fs-22 {
    font-size: 22px !important;
}
.fs-25 {
    font-size: 25px;
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}
.white_text {
    color: white;
}
.green_text {
    color: #72ca2f;
}
.grey_text {
    color: #636363 !important;
}
.row {
    display: flex;
    align-items: center;
}
.column {
    display: flex;
    flex-direction: column;
}
.align-center {
    align-items: center;
}
.grow {
    flex-grow: 1;
}
.scroll {
    overflow: scroll !important;
}
ion-radio {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}
ion-item-divider {
    height: 1px !important;
    min-height: 1px !important;
    width: 85%;
    margin: 20px auto;
    --background: #707070;
}
ion-avatar {
    height: 110px;
    width: 110px;
    margin: -6px auto 10px;
    img {
        height: 100%;
        width: 100%;
    }
}
.custom-popover {
    --background: transparent !important;
    --box-shadow: none !important;
}

// .popover-content.sc-ion-popover-md,
// .popover-content.sc-ion-popover-ios {
//     --background: transparent !important;
//     box-shadow: none !important;
// }
.green_button {
    --background: #72ca2f;
    color: white;
    height: 47px;
    --border-radius: 2px !important;
    font-size: 14px;
    letter-spacing: 0;
}
.grey_button {
    --background: #979797;
    color: white;
    height: 47px;
    --border-radius: 2px !important;
    font-size: 14px;
    letter-spacing: 0;
}
.red_button {
    --background: #ca2f2f;
    color: white;
    height: 47px;
    width: 130px;
    --border-radius: 2px !important;
    font-size: 14px;
    letter-spacing: 0;
}
.select_box {
    height: 42px;
    width: 86%;
    border: 1px solid #72ca2f;
    border-radius: 4px;
    color: #72ca2f;
    font-size: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin: auto;
}
.select_option {
    position: absolute;
    text-align: left;
    width: 100%;
    padding: 5px 15px;
    background-color: white;
    height: 60%;
    overflow: scroll;
    z-index: 100;
}
.cross_icon {
    height: 40px;
    width: 40px;
}

ion-input.red_border {
    border: 1px solid #ca2f2f;
    height: 36px !important;
}
ion-input.p0 {
    .native-input.sc-ion-input-md {
        padding: 0 !important;
    }
}
// ion-item.item-has-focus > ion-label {
//     color: green !important;
// }
.picker-prefix,
.picker-suffix,
.picker-opt.picker-opt-selected {
    color: #72ca2f;
}
.picker-button.sc-ion-picker-md,
.picker-button.ion-activated.sc-ion-picker-md {
    color: #72ca2f;
}
ion-picker.select_country {
    .picker-wrapper.sc-ion-picker-md {
        height: 370px !important;
    }
    .picker-columns.sc-ion-picker-md {
        height: 370px !important;
    }
}

.popover-content.sc-ion-popover-md,
.popover-content.sc-ion-popover-ios {
    width: 86% !important;
    margin: auto !important;
    left: 0 !important;
    right: 0 !important;
    border-radius: 8px !important;
}
.alert-radio-icon.sc-ion-alert-md,
.alert-radio-icon.sc-ion-alert-ios {
    display: none !important;
}
[aria-checked="true"].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md {
    color: #72ca2f !important;
}
.alert-button.sc-ion-alert-md,
.alert-button.sc-ion-alert-ios {
    color: #72ca2f !important;
}
.alert-wrapper.sc-ion-alert-md,
.alert-wrapper.sc-ion-alert-ios {
    height: 70% !important;
    min-height: 70% !important;
}
.alert-radio-group.sc-ion-alert-md,
.alert-checkbox-group.sc-ion-alert-md,
.alert-radio-group.sc-ion-alert-ios,
.alert-checkbox-group.sc-ion-alert-ios {
    height: 80% !important;
    min-height: 80% !important;
}
