
.mt-13per{
    margin-top: 13%;
}
.light_grey_text{
    color: #bbb;
}
.p-30{
    padding: 0 30px;
}
ion-input{
    border: 1px solid #72CA2F;
    height: 52px !important;
    width: 38px;
    border-radius: 5px;
}
ion-col{
    padding: 0 !important;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
}
.grey_button{
    width: 130px;
}

