<ion-content>
  <div class="ion-text-center mt-13per">
    <ion-label class="fs-25 grey_text">Phone Verification</ion-label>
    <ion-item-divider></ion-item-divider>
    <ion-label class="fs-22 light_grey_text">Enter Code</ion-label>
    <div class="fs-11 grey_text m-30">Enter the SMS verification code below that was sent to your mobile phone</div>
  
    <ion-row class="p-30 row">
      <ion-col>
        <ion-input class="p0" maxLength="1" type="tel" *ngIf="!wrongCode"></ion-input>
        <ion-input class="red_border p0" *ngIf="wrongCode"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input class="p0" maxLength="1" type="tel" *ngIf="!wrongCode"></ion-input>
        <ion-input class="red_border p0" *ngIf="wrongCode"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input class="p0" maxLength="1" type="tel" *ngIf="!wrongCode"></ion-input>
        <ion-input class="red_border p0" *ngIf="wrongCode"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input class="p0" maxLength="1" type="tel" *ngIf="!wrongCode"></ion-input>
        <ion-input class="red_border p0" *ngIf="wrongCode"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input class="p0" maxLength="1" type="tel" *ngIf="!wrongCode"></ion-input>
        <ion-input class="red_border p0" *ngIf="wrongCode"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input class="p0" maxLength="1" type="tel" (ionChange)="inputChnage()" *ngIf="!wrongCode"></ion-input>
        <ion-input class="red_border p0" *ngIf="wrongCode"></ion-input>
      </ion-col>
      <ion-icon name="close-circle-outline" class="cross_icon" *ngIf="wrongCode"></ion-icon>
     </ion-row>

    <ion-row class="ion-padding mt-10 buttons">
      <ion-button class="grey_button" (click)="resend()">Resend COde</ion-button>
      <ion-button class="grey_button" *ngIf="!wrongCode" (click)="confirm()">Confirm</ion-button>
      <ion-button class="red_button" *ngIf="wrongCode" (click)="confirm()">Confirm</ion-button>
    </ion-row>
  </div>
</ion-content>
